{% extends "base.html" %}

{% block content %}
    <h2>Ranking</h2>

    <form action="" method="post" name="order" id="order">
        <select name="order" id="order">
            {% for name in columnNames %}
            <option value="{{name}}">{{name}}</option>
            {% endfor %}

        </select>
        <input type="submit" value="Ordenar">
    </form>
    
    <span>Ordenado por {{parameter}}</span>

    <table class="default" border="1">

        <tr>
            {% for column in columnNames %}
            <th>{{column|capitalize}}</th>
            {% endfor %}
        </tr>
        {% for stat in stats %}
        <tr>
            <td>{{stat.getAgent.getAgent_name}}</td>
                <td>{{stat.getLevel}}</td>
                <td>{{stat.getLifetimeap}}</td>
                <td>{{stat.getCurrentap}}</td>
                <td>{{stat.getUniqueportals}}</td>
                <td>{{stat.getUniqueportalsdrone}}</td>
                <td>{{stat.getFurthesdrone}}</td>
                <td>{{stat.getSeer}}</td>
                <td>{{stat.getPortalsdiscovered}}</td>
                <td>{{stat.getXmcollected}}</td>
                <td>{{stat.getOpr}}</td>
                <td>{{stat.getPortalscans}}</td>
                <td>{{stat.getUniquescoutcontrolled}}</td>
                <td>{{stat.getResonatordeployed}}</td>
                <td>{{stat.getLinkscreated}}</td>
                <td>{{stat.getControlfieldscreated}}</td>
                <td>{{stat.getMindunitcaptured}}</td>
                <td>{{stat.getLongestlink}}</td>
                <td>{{stat.getLargestcontrolfield}}</td>
                <td>{{stat.getXmrecharged}}</td>
                <td>{{stat.getPortalcaptured}}</td>
                <td>{{stat.getUniqueportalscaptured}}</td>
                <td>{{stat.getModsdeployed}}</td>
                <td>{{stat.getHacks}}</td>
                <td>{{stat.getDronehacks}}</td>
                <td>{{stat.getGlyph}}</td>
                <td>{{stat.getHackstreaks}}</td>
                <td>{{stat.getSojourner}}</td>
                <td>{{stat.getResonatorsdestroyed}}</td>
                <td>{{stat.getPortalsneutralized}}</td>
                <td>{{stat.getLinksdestroyed}}</td>
                <td>{{stat.getFieldsdestroyed}}</td>
                <td>{{stat.getBattlebeacon}}</td>
                <td>{{stat.getDronesreturned}}</td>
                <td>{{stat.getTimeportalheld}}</td>
                <td>{{stat.getTimelinkmaintained}}</td>
                <td>{{stat.getLinklengthdays}}</td>
                <td>{{stat.getTimefieldheld}}</td>
                <td>{{stat.getFieldmusdays}}</td>
                <td>{{stat.getForceddrone}}</td>
                <td>{{stat.getDistancewalked}}</td>
                <td>{{stat.getKinectcapsules}}</td>
                <td>{{stat.getMissioncompleted}}</td>
                <td>{{stat.getMissiondays}}</td>
                <td>{{stat.getNl1331}}</td>
                <td>{{stat.getFirstsaturday}}</td>
                <td>{{stat.getAgentsrecluited}}</td>
                <td>{{stat.getRecursions}}</td>
                <td>{{stat.getMonthssubscribed}}</td>
                <td>{{stat.getLinksactive}}</td>
                <td>{{stat.getPortalsowned}}</td>
                <td>{{stat.getFieldsactive}}</td>
                <td>{{stat.getMindunitcontrol}}</td>
                <td>{{stat.getCurrenthackstreaks}}</td>
                <td>{{stat.getCurrentsojourner}}</td>
        </tr>
        {% endfor %}     
    </table>
    
    <nav>
        <br>
        <a href="/userprofile">Volver</a>
    </nav>
        {% endblock %}